DATABASE_URL="postgresql://postgres:postgres@localhost:5432/scene_editor?schema=public"
PORT=4000
CORS_ORIGIN=http://localhost:5173
UPLOAD_DIR=./uploads
FILE_SERVICE_URL=http://10.222.3.84:18010/3dservice/v1/file
FILE_SERVICE_MODEL_KEY=/models
FILE_SERVICE_IMAGE_KEY=/images
FILE_SERVICE_DEFAULT_KEY=/models
FILE_SERVICE_TIMEOUT_MS=30000
