<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Vietbando API Proxy" stopProcessing="true">
          <match url="^api/vbd/(.*)" />
          <action
            type="Rewrite"
            url="https://developers.vietbando.com/V2/service/PartnerPortalService.svc/rest/{R:1}"
            appendQueryString="true"
          />
        </rule>
        <rule name="SPA Fallback" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
